<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>

<a th:href="@{/create-customer}">Add New Customer</a>

<h1>Customers</h1>
<div th:each="customer : ${customers}">

    <p th:text="${customer.toString()}"></p>

    <form th:action="@{/delete-customer}"  method="post">
        <input type="hidden" name="customerId" th:value="${customer.id}">
        <button type="submit"> Delete Customer</button>
    </form>

    <a th:href="@{/edit-customer/{id}(id=${customer.id})}"> Edit </a>

</div>

</body>
</html>