.header {
    background-color: var(--primary);
    color: var(--white);
    height: var(--header-height);
}

.nav-container {
    display: flex;
    width: var(--header-width);
    margin: auto;
}

.navbar-right-anchors {
    display: flex;
    justify-content: flex-end;

    margin-left: auto;
}

.navbar-item {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 .75em;
    justify-content: center;
    white-space: nowrap;
    color: var(--white);
}

.navbar-item:hover {
    background-color: var(--primary-dark);
}

.main {
    width: var(--main-width);
    margin: auto;
    padding-top: 35px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height))
}

.forum-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.btn {
    font-size: 16px;
    border-radius: 4px;
    border: solid var(--black) 1px;
    padding: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-red {
    font-size: 16px;
    background-color: var(--red);
    color: white;
    border: solid var(--red) 1px;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
}
.btn-red:hover {
    background: var(--white);
    color: var(--red);
    border: solid var(--red) 1px;
}

.customer-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-top: 1em;
}

.dfc {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.db {
    display: block;
}

.input-text {
   padding: 6px;
   border-radius: 4px;
   margin-bottom: 4px;
   width: max-content;
   border: 1px solid var(--secondary-dark);
}

.elevated {
    border: solid var(--white) 1px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,2%);
    padding: 1.25rem;
    border-radius: 6px;
}

.elevated:hover {
    box-shadow: 0 0.75em 1.5em -0.125em rgba(10,10,10,.15), 0 0 0 1px rgba(10,10,10,2.5%);
    cursor: pointer;
}

.center {
  width: max-content;
  padding: 3vh 3vw;
  margin: auto;
}

.take-height {
    margin-top: auto;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .85rem;
    background-color: var(--secondary-medium);
    height: var(--footer-height);
}
