.df {
    display: flex;
}

.w-50 {
    width: 50%;
}

.pb-1 {
    padding-bottom: 1em;
}

.mt-5 {
    margin-top: 5em;
}

.w-30 {
    width: 30%;
}

.space {
   justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.center {
    text-align: center;
    padding: 0;
}

.emphasis {
    color: var(--primary)
}

.lh-1-7 {
    line-height: 1.7em;
}

.w-mc {
    width: max-content;
}
