<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Thing</title>
</head>
<body>
this should be like a landing page with  nav
    
    <ul>
        <li>
            <a th:href="@{/customers}">View Customers</a>
        </li>
    </ul>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur consequuntur dolor doloremque eius fugit nemo nihil,
        provident qui saepe soluta ullam vitae voluptates! Doloribus explicabo iusto libero maxime repudiandae.
    </p>

</body>
</html>