<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Bookings</title>
    <link rel="stylesheet" th:href="@{/css/core.css}" />
    <link rel="stylesheet" th:href="@{/css/media.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
<header class="header">
    <nav>
        <div class="nav-container">
            <a th:href="@{/}" class="navbar-item">
                <img th:src="@{/images/icon.svg}" alt="icon"/>
            </a>

            <div class="navbar-right-anchors">
                <a th:href="@{/customers/list}" class="navbar-item"> Customers </a>
                <a th:href="@{/rooms/list}" class="navbar-item"> Rooms </a>
                <a th:href="@{/bookings/list}" class="navbar-item"> Bookings </a>
                <a th:href="@{/services/list}" class="navbar-item"> Services </a>
            </div>
        </div>
    </nav>
</header>

<main class="main">
    <h3>Bookings </h3>
    <hr>

    <div class="elevated center">
        <h4> <u> Create Booking </u></h4>
    <form method="post" th:action="@{/bookings/create}" th:object="${newBooking}">
        <div class="forum-row">
            <strong>Start Date:&nbsp;</strong>
            <input type="date" name="startDate" placeholder="0000-00-00" th:field="*{startDate}" aria-label="start date">
        </div>

        <div class="forum-row">
            <strong>End Date:&nbsp;</strong>
            <input type="date" name="endDate" placeholder="0000-00-00" th:field="*{endDate}" aria-label="end date">
        </div>

        <div class="forum-row">
            <strong>Customer:&nbsp;</strong>
            <select th:field="*{customer}">
                <option th:each="option : ${customers}"
                        th:value="${option.id}"
                        th:text="${option.name}">
                </option>
            </select>
        </div>

        <div class="forum-row">
            <strong>Room:&nbsp;</strong>
            <select th:field="*{room}">
                <option th:each="option : ${rooms}"
                        th:value="${option.id}"
                        th:text="${option.roomNumber}">
                </option>
            </select>
        </div>

        <div class="forum-row">
            <input type="submit" value="Create Booking" aria-label="submit" class="btn">
            <a th:href="@{/bookings/list}" class="btn-red"> Cancel</a>
        </div>
    </form>

    </div>

</main>

</body>
</html>
